<launch>

<node pkg="tf" type="static_transform_publisher" name="camera_base_link" args="1 0 0 0 0 0 1 imu caml 100" />
<node pkg="tf" type="static_transform_publisher" name="camera_base_link" args="1 0 -5 0 0 0 1 imu camr 100" />
<node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find cam_calibration)/rviz/vins_rgbd.rviz"/>
</launch>
