<launch>

<param name="/calibration/config_file_depth" value="/alignStereoTof/src/camOdoCalib/config/fusion_azure.yaml" type="string"/>
<param name="/calibration/config_file_rgb" value="/alignStereoTof/src/camOdoCalib/config/fusion_zed.yaml" type="string"/>  
<param name="/calibration/save_folder" value="$(find cam_calibration)/image_dataset/" type="string"/>  


<!-- <param name="/calibration/config_file_depth" value="/datasets/rgbd_calibration_onlydepth/src/camOdoCalib/config/d435i_depth.yaml" type="string"/>
<param name="/calibration/config_file_rgb" value="/datasets/rgbd_calibration_onlydepth/src/camOdoCalib/config/d435i_rgb.yaml" type="string"/> -->

<!-- initial extrinsic param Tdepth_rgb, pose from rgb cam to depth cam -->
<param name="/Tdepth_rgb/tx" value="-0.01903342" type="double"/>
<param name="/Tdepth_rgb/ty" value="-0.03772472" type="double"/>
<param name="/Tdepth_rgb/tz" value="-0.0058438" type="double"/>
<param name="/Tdepth_rgb/qx" value="-0.00785463" type="double"/>
<param name="/Tdepth_rgb/qy" value="-0.00486201" type="double"/>
<param name="/Tdepth_rgb/qz" value="0.00400006" type="double"/>
<param name="/Tdepth_rgb/qw" value="0.99994933" type="double"/>

<node pkg="cam_calibration" type="rgbd_chess_check_node" name="rgbd_chess_check" output="screen">
    <remap from="cam0/image_raw" to="/zed2/zed_node/left/image_rect_color"/>
    <remap from="cam1/image_raw" to="/zed2/zed_node/right/image_rect_color"/> 
    <!-- tof depth -->
    <remap from="camera/depth/image" to="/depth_to_rgb/image_raw"/> 
    <!-- tof color image -->
    <remap from="camera/confindence/image" to="/rgb/image_raw"/>
    <!-- stereo depth -->
    <remap from="stereo/camera_stereo_depth" to="/zed2/zed_node/depth/depth_registered"/>
</node>

<node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find cam_calibration)/rviz/vins_rgbd.rviz"/>
</launch>
